<ng-container *ngFor="let week of weeks; let i= index">
    <div class="week" *ngIf="view === i">
        <div class="weekday" *ngFor="let day of week.days;" [ngClass]="{'no-active': !day.date}">
            <header>{{day.name}} {{day.date}}</header>
            <ng-container *ngIf="day.date">
                <div class="day" [dragula]='"bag-one"' [dragulaModel]='day.times.entries'>
                    <div *ngFor="let time of  day.times.entries" class="time activity-{{time.activity.id}}" [ngClass]="{'no-drag': !time.isNew, 'selected': time === selected}">
                        <span>{{time.title}}</span>
                        <div>
                            <span class="hours">Hours:
                                <span class="hour-value">{{time.duration}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="day-footer" ng-if="day.date">
                    <div class="add-btn">+</div>
                    <span>Total:</span>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>